@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome</h2>
        <p>
            English Test is a application that make your learning 
            an english a pleasure.
        </p>
    </div>
</div>